@use '../../styles/abstract/abstract' as *;

.cart-list-container {
  margin: to-rem($spacer-xl) to-rem($spacer-md);
  min-height: calc(100vh - to-rem(133));
  display: flex;
  flex-direction: column;

  h1 {
    color: var(--black);
    text-transform: uppercase;
    font-size: $font-size-l;
    font-weight: 300;
  }

  ul {
    margin-top: to-rem($spacer-xl);
  }

  .bottom-pay-container {
    margin-top: auto;

    .total-price {
      text-transform: uppercase;
      color: var(--black);
      font-size: $font-size-xs;
      position: relative;

      span {
        position: absolute;
        right: 0;

        &::after {
          content: ' EUR';
        }
      }
    }

    .continue-shopping,
    button {
      text-align: center;
      text-transform: uppercase;
      display: inline-block;
      margin-top: to-rem($spacer-xl);
      width: 48%;
      padding: to-rem($spacer-md) 0;
      font-size: $font-size-xxs;
    }

    .continue-shopping {
      border: 0.5px solid var(--black-highlight);
      text-decoration: none;
      color: var(--black);
    }

    button {
      margin-left: 4%;
      background-color: var(--black-highlight);
      border: 0.5px solid transparent;
      color: var(--white);
      cursor: pointer;
    }
  }
}
